

.edit-textarea {height: 90px !important; width: 650px !important;}


.dog-name { margin: 5px;}
.dog-gender { margin: 5px; width: 15px;}
.dog-breed { margin: 5px; width: 400px;}

.dog-edit-name {width: 200px !important; }
.dog-edit-gender {width: 17px !important; }
.dog-edit-breed {width: 400px !important; }
.edit-date {width: 170px !important; }

.newsstory-datecreated { margin: 5px; }
.newsstory-date { margin: 5px;}
.newsstory-title { margin: 5px;}
.newsstory-content { margin: 5px;}


.event-datecreated { margin: 5px; }
.event-date { margin: 5px;}
.event-name { margin: 5px;}
.event-location { margin: 5px;}
.event-description { margin: 5px;}


.special-date { margin: 5px;}
.special-featured { margin: 5px;}
.special-text { margin: 5px;}
.special-image  
{
    background-color: #FFFFFF;
    border: 4px solid #9F282F;
    display: block;
    float: left;
    height: 225px;
    margin: 5px;
    max-height: 225px;
    max-width: 225px;
    overflow: hidden;
    width: 225px;
 }