
/code/VOTSDR.Web/VOTSDR.Web.csproj.user
/code/VOTSDR.Web/bin
/code/VOTSDR.Web/obj
/code/VOTSDR.Data/VOTSDR.Data.csproj.user
/code/VOTSDR.Data/obj
/code/VOTSDR.Data/bin
/code/VOTSDR.Admin.Web/VOTSDR.Admin.Web.csproj.user
/code/VOTSDR.Admin.Web/VOTSDR.Admin.Web.csproj.user
/code/VOTSDR.Admin.Web/bin
/code/VOTSDR.Admin.Web/obj
/code/VOTSDR.Utils/bin
/code/VOTSDR.Utils/obj
/code/VOTSDR.Web/App_Data
/code/VOTSDR.Web/VOTSDR.Web.Publish.xml