@model VOTSDR.Data.NewsStory

@{
    ViewBag.Title = "News Story Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>News Story Details</h2>

@Html.Partial("detailspanel")

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.NewsStoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

