@model VOTSDR.Data.NewsStory

<fieldset>

    <legend>News Story</legend>
        
    <div class="newsstory-date">@Model.Date</div>

    <div class="newsstory-title">@Model.Title</div>

    <div class="newsstory-content">@Model.Text</div>

</fieldset>


