/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
*, html, body, div, p, li
{
	margin: 0;
	padding: 0;
	font-family: tahoma, sans-serif;
}

a
{
	color: #9f282f;
}

a:link
{
    color: #9f282f;
    text-decoration: underline;
}
a:visited
{
    color: #ed4e23;
}
a:hover
{
    color: #ed4e23;
    text-decoration: none;
}
a:active
{
    color: #ed4e23;
}


/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/* === _Layout HEADER and FOOTER ================== */

#page
{
	width: 100%;
	height: 100%;
	background: #fffdc1 url(images/bg-h-bars.jpg) repeat-x 50% 38px;
	overflow:hidden;
}

#page-container
{
	width: 1024px;
	margin: 0 auto;
	height: 100%;
	background: #fff;
	position: relative;
	z-index: 1;
}

#header
{
	width: 1024px;
	height: 130px;
	background: #fff url(images/bg-h-bars.jpg) repeat-x 0 38px;
	position: relative;
}

#header ul
{
	list-style:none;
}

.hnav-link-top
{
	height: 28px;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: absolute;
	overflow:hidden;
	text-indent: -900em;
}

.hnav-link-bottom
{
	height: 21px;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: absolute;
	overflow:hidden;
	text-indent: -900em;
}

.home #hnav-link-home,
.adoptable #hnav-link-adoptable,
.stories #hnav-link-stories,
.howtohelp #hnav-link-howtohelp
{
	background-position: 0 -28px;
	cursor: default !important;
}

.news #hnav-link-news,
.education #hnav-link-education,
.sponsors #hnav-link-sponsors,
.shop #hnav-link-shop,
.contact #hnav-link-contact
{
	background-position: 0 -21px;
	cursor: default !important;
}

.hnav-link-top:hover
{
	background-position: 0 -56px;
}

.hnav-link-bottom:hover
{
	background-position: 0 -42px;
}

#hnav-link-home
{
	width: 62px;
	background-image: url(images/nav-h-t-home.png);
	top: 9px;
	left: 242px;
}

#hnav-link-adoptable
{
	width: 155px;
	background-image: url(images/nav-h-t-adoptable.png);
	top: 9px;
	left: 324px;
}

#hnav-link-stories
{
	width: 112px;
	background-image: url(images/nav-h-t-stories.png);
	top: 9px;
	left: 494px;
}

#hnav-link-howtohelp
{
	width: 172px;
	background-image: url(images/nav-h-t-howtohelp.png);
	top: 9px;
	left: 620px;
}


#hnav-link-news
{
	width: 121px;
	background-image: url(images/nav-h-b-news.png);
	top: 109px;
	left: 457px;
}

#hnav-link-education
{
	width: 75px;
	background-image: url(images/nav-h-b-education.png);
	top: 109px;
	left: 571px;
}

#hnav-link-sponsors
{
	width: 115px;
	background-image: url(images/nav-h-b-sponsors.png);
	top: 109px;
	left: 656px;
}

#hnav-link-shop
{
	width: 41px;
	background-image: url(images/nav-h-b-shop.png);
	top: 109px;
	left: 782px;
}

#hnav-link-contact
{
	width: 80px;
	background-image: url(images/nav-h-b-contact.png);
	top: 109px;
	left: 829px;
}

#hnav-link-phone
{
	width: 98px;
	background-image: url(images/nav-h-b-phone.png);
	top: 109px;
	left: 907px;
}

#logo
{
	width: 201px;
	height: 131px;
	background: transparent url(images/logo-header.png) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

#page-title
{
	position: absolute;
	top: 70px;
	left: 195px;
	height: 40px;
	width: 542px;
	overflow: hidden;
	text-indent: -900em;
	background-color: transparent;
	background-repeat: no-repeat;
}

.home #page-title,
.adoptable #page-title,
.stories #page-title,
.howtohelp #page-title,
.news #page-title,
.education #page-title,
.sponsors #page-title,
.shop #page-title,
.contact #page-title
{
	
}

.home #page-title
{
	background-image: url(images/txt-pt-home.png);
}

.adoptable #page-title
{
	background-image: url(images/txt-pt-adoptable.png);
}

.stories #page-title
{
	background-image: url(images/txt-pt-stories.png);
}

.howtohelp #page-title
{
	background-image: url(images/txt-pt-howtohelp.png);
}

.news #page-title
{
	background-image: url(images/txt-pt-news.png);
}

.education #page-title
{
	background-image: url(images/txt-pt-education.png);
}

.sponsors #page-title
{
	background-image: url(images/txt-pt-sponsors.png);
}

.shop #page-title
{
	background-image: url(images/txt-pt-shop.png);
}

.contact #page-title
{
	background-image: url(images/txt-pt-contact.png);
}

#content-wrapper
{
	width: 1024px;
	min-height: 400px;
}
#content
{
	width: 100%;
	height: 100%;
	padding: 20px;
}

#footer
{
	height: 170px;
	width: 1024px;
	background: transparent url(images/bg-f-bars.jpg) repeat-x 0 0;
	position: relative;
}

#footer-nav ul
{
	list-style: none;
}

#footer-nav
{
	clear: both;
	margin-left: 20px;
}

.fnav-link
{
	color: #9f282f;
	display: block;
	float: left;
	position: relative;
	top: 0;
	padding: 0 7px;
	border-right: 2px solid #fffdc1;
	text-decoration: none;
	font-size: 10pt;
}
.fnav-link:link
{
	text-decoration: none;
}
.fnav-link:visited
{
    text-decoration: none;
}
.fnav-link:hover
{
    text-decoration: none;
}
.fnav-link:active
{
   	text-decoration: none;
}

.fnav-link:visited
{
	text-decoration: none;
}

.fnav-link.first
{
	padding-left:0;
}
.fnav-link.last
{
	border-right: none;
}

.footer-section
{
	height: 110px;
	float: left;
	margin-bottom: 15px;
	margin-top: 10px;
}
.footer-section p
{
	padding-bottom: 7px;
}

#fst-donations,
#fst-locations,
#fst-dotw
{
	display: block;
	overflow: hidden;
	text-indent: -900em;
	height: 30px;
}


#footer-donations
{
	width: 320px;
	border-right: 2px solid #9f282f;
	margin-right: 10px;
	margin-left: 20px;
	padding: 0 20px 0 0;
	font-size: 14px;
	position: relative;
}

#fst-donations
{
	width: 210px;
	background: transparent url(images/txt-fst-donations.png) no-repeat -5px -5px;
}
#link-paypal
{
	background: transparent url(images/btn-donate.gif) no-repeat 0 0;
	display: block;
	position: absolute;
	right: 25px;
	top: 68px;
	overflow: hidden;
	text-indent: -900em;
	height: 21px;
	width: 74px;
}

#footer-locations
{
	width: 315px;
	border-right: 2px solid #9f282f;
	margin-right: 10px;
	margin-left: 20px;
	font-size: 14px;
	padding: 0 20px 0 0;
}

#fs-location,
#fs-times
{
	float: left;
}
#fs-location
{
	margin-right: 20px;
}

#fst-locations
{
	width: 320px;
	background: transparent url(images/txt-fst-times.png) no-repeat -5px -5px;
}

#footer-dotw
{
	width: 250px;
	margin-right: 10px;
	margin-left: 20px;
	clear: right;
	font-size: 14px;
}

#fst-dotw
{
	width: 320px;
	background: transparent url(images/txt-fst-dotw.png) no-repeat -5px -5px;
}
#fs-dotw-details
{
	float: left;
}
#fs-dotw-details-name
{
	font-weight: bold;
	margin-bottom: 5px;
}
#fs-dotw-details-link
{
	font-weight: bold;
}

#fs-dotw-thumb
{
	height: 70px;
	width: 70px;
	border: 4px solid #fff;
	float: left;
	margin-right: 10px;
	background-color: #9f282f;
}
#fs-dotw-thumb a
{
	border: none;
	color: #fff;
}
#fs-dotw-thumb img
{
    width: 70px;
    height: 70px;
    border: none;
}

#footerbkg
{
	width: 300%;
	height: 180px;
	background: transparent url(images/bg-f-bars.jpg) repeat-x 25% 0;
	position: absolute;
	top:0;
	left: -50%;
	z-index: -1;
}