@using VOTSDR.Web.Models
@model IEnumerable<SuccessStoryViewModel>
@{
    ViewBag.Title = "Success Stories";
    ViewBag.PageClass = "stories";
}

@section head { }

<h2>Happy Tails</h2>

@foreach (var story in Model)
{
  <img src="@story.ImageUrl" alt="@story.DogName" />
  @Html.Partial("TextBlock", story.Story ?? string.Empty)
}