<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataEntities" connectionString="metadata=res://*/DataRepository.csdl|res://*/DataRepository.ssdl|res://*/DataRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=votsdradmin.db.7284131.hostedresource.com;Initial Catalog=votsdradmin;Persist Security Info=True;User ID=votsdradmin;Password=A%7r0m3ch;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>