@model VOTSDR.Data.SpecialNeedsStory

@{
    ViewBag.Title = "Special Needs Story Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Special Needs Story Details</h2>

@Html.Partial("detailspanel")

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SpecialNeedsStoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

