@{
    ViewBag.Title = "Education";
    ViewBag.PageClass = "education";
}

@section head { }

<h2>Education</h2>
<p>
  We expect to have educational material soon.  Please check back later.
</p>
