@using VOTSDR.Web.Models
@model EducationModel
           
@{
    ViewBag.Title = "Education";
    ViewBag.PageClass = "education";
}

@section head { 
<style>
    h3, h4 { margin: 10px 0 5px;}
</style>
}

<h2>Education</h2>

<p>@Html.Partial("TextBlock", Model.Markup)</p>
