@{    
  ViewBag.Title = "HowToHelp";    
  ViewBag.PageClass = "howtohelp";    
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<style type="text/css">
#hych
{
    width: 970px;	
    margin-left: 10px;
    position: relative;
}

#hych h3
{
    margin-bottom: 7px;
    padding: 5px 0 5px 10px;
    border-top: 3px solid #fffdc1;
    border-bottom: 3px solid #fffdc1;
    text-transform: uppercase;
    background: transparent url(../Content/images/bg-content-blocks.jpg) repeat-x 0 -5px;
    color: #9f282f;
}
#hych p
{
	margin-bottom: 15px;
}
#btn-paypal
{
	position: absolute;
	top: 100px;
	left: 355px;
}
#hych .section
{
	margin: 50px 0;
}
#hych .section.first
{
	margin-top: 0;
}
#hych ul
{
	margin: 0 0 0 30px;
}
#hych li
{
	
}
</style>
 }

<div id="hych">
    <div class="section first">
        <h3>Monetary Donations</h3>
        <p>
          Valley of the Sun Dog Rescue is a registered non-profit 501(C)3 organization.
          <br />
          <span style="font-size: 20px">We rely on the community’s support to provide food, shelter, vet care, etc to
          our dogs. </span>
        </p>

        <p>Monetary donations are accepted through PayPal: </p>

        <p>Or through <a href="http://votsdr.chipin.com/valley-of-the-sun-dog-rescue">ChipIn:</a><br /></p>
        <p>
        <embed allowScriptAccess="always" src="http://www.chipin.com/widget/id/2fdd84507937142f" flashVars="chipin_server=www%2Echipin%2Ecom" type="application/x-shockwave-flash" wmode="transparent" width="600" height="250"></embed>
        </p>

        <p>Or you may donate in person, via mail or by phone to:<p>

        <address>
          Prestige Animal Clinic<br />
          700 W. Ray Road<br />
          Gilbert, AZ 85233<br />
          (480) 792-0185<br />
          <a href="http://www.prestigeanimalclinic.net/">http://www.prestigeanimalclinic.net/</a>
        </address>
        </p>

        <div id="btn-paypal">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="KMBFDNHC9EMQQ">
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
    </div>

    <div class="section">
        <h3>Item Donations</h3>
        <p>
          Item donations are accepted by contacting Kathy @@ 480-228-0126 for pick-up
          or delivery.
        </p>
        <p>
          Below is a list of Item donations needed (but not limited to…)
        </p>
        <ul>
          <li>Dog Food</li>
          <li>Chew Bones</li>
          <li>Hard non destructable toys</li>
          <li>Hooves</li>
          <li>Dog Biscuits</li>
          <li>Dog Beds</li>
          <li>Food/water bowls</li>
          <li>Collars/Leashes</li>
          <li>Harnesses/Easy Walkers</li>
          <li>Paper towels</li>
          <li>Garbage bags</li>
          <li>Bleach</li>
          <li>Laundry Detergent</li>
          <li>Any house hold cleaning supplies</li>
          <li>Towels</li>
          <li>Comforters, quilts and thick blankets</li>
        </ul>
    </div>

    <div class="section">
        <h3>Volunteer</h3>
        <p>
          We are always accepting new volunteers into our organization. We have many
          tasks and events that require the kind help of a volunteer. Each volunteer is
          required to fill out and sign a volunteer contract. 
          @Html.ActionLink("Click here to request a volunteer contract", "ContactUs")
        </p>
        <p>
          We need volunteers to help at our weekly adoption events. During the adoption
          events you as a volunteer would be needed to talk with prospective adopters
          about our dogs, set up the adoptions event at the beginning of the day and
          take down the event at the end of the day, clean up any potty accidents,
          ensure each dog has a blanket and water, walk the dogs and much more. 
        </p>
        <p>
          Valley of the Sun Dog Rescue needs volunteers to transport dogs. Our dogs
          need transport to and from adoption events and veterinary clinics.
        </p>
        <p>
          Volunteering at adoption events and transporting are just a few of the ways
          you can volunteer for our organization. We also need dog walkers in east 
          mesa, volunteers to work obedience, etc. For more information call Kathy @@
          480-228-0126 or 
          @Html.ActionLink("click here", "ContactUs").
        </p>
    </div>

    <div class="section">
        <h3>Foster</h3>
        <p>
          Valley of the Sun Dog Rescue is ALWAYS in need of foster parents! The more
          foster homes we have the more dogs that we can rescue. We do not have a 
          facility (although we are working towards that goal). As we do not have a 
          facility we solely rely on foster parents to home our rescue dogs. This 
          serves as a great advantage to each dog that we rescue. As a foster parent we
          ask that you work on basic skills the dog will need to help it find a new 
          forever home. These skills include house training, crate training, leash 
          training and socialization. In addition to those basic skills if our foster 
          parents are able to teach basic obedience and more we are very thankful! The 
          foster parent of an adoptable dog should also be able to provide transport to
          our adoption events each weekend.
        </p>
        <p>
          We are also always in need for foster parents willing to care for our special
          needs dogs. We may have a pregnant or nursing mother dog in need of a foster
          home or a litter of puppies that require bottle feedings. We also rescue
          injured animals that need a foster home to heal until they are ready to go up
          for adoption and find their forever home.
        </p>
        <p>
          Most of all what is needed to be a great foster is to provide LOVE! We can 
          provide a crate, collar and crate if needed. If needed we can also provide 
          dog food. 
        </p>
        <p>
          If you are interested in fostering, 
          @Html.ActionLink("please click here", "ContactUs")
          to receive your Foster application.
        </p>
    </div>
</div>

