@{
    ViewBag.Title = "Shop";
    ViewBag.PageClass = "shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head { }

<h2>Shop</h2>

<p>
  All proceeds from the purchases below are tax-deductable. 100% of the 
  proceeds go to Valley of the Sun Dog Rescue. If you are interested in 
  purchasing any items seen below, 
  @Html.ActionLink("please click here", "ContactUs").
</p>
