@{
    ViewBag.Title = "SponsorsAndLinks";
    ViewBag.PageClass = "sponsors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head { }

<h2>Sponsors & Links</h2>

<h3>Sponsors</h3>
<p>
  Coming soon...
</p>

<h3>Links</h3>
<ul>
  <li>
    <a href="http://www.pets911.com/" target="_blank">Pets911</a>
  </li>
  <li>
    <a href="http://www.adoptapet.com/" target="_blank">Adopt a Pet</a>
  </li>
  <li>
    <a href="http://bull911.com/" target="_blank">Bull911</a>
  </li>
  <li>
    <a href="http://www.rescueshelter.com/" target="_blank">The Rescue Shelter Network</a>
  </li>
  <li>
    <a href="http://www.rescueme.org/" target="_blank">Rescue Me!</a>
  </li>
  <li>
    <a href="http://www.facebook.com/home.php#!/pages/Valley-of-the-Sun-Dog-Rescue/163075013735212" target="_blank">Facebook</a>
  </li>
</ul>
