@using VOTSDR.Web.Models
@model SponsorsAndLinksModel

@{
    ViewBag.Title = "Sponsors And Links";
    ViewBag.PageClass = "sponsors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head { 
<style>
    h3, h4 { margin: 10px 0 5px;}
    p {margin: 2px 5px;}
</style>
}

<h2>Sponsors & Links</h2>

<h3>Sponsors</h3>

<p>@Html.Partial("TextBlock", Model.SponsorMarkup)</p>

<h3>Links</h3>

<p>@Html.Partial("TextBlock", Model.LinkMarkup)</p>


