@{
    ViewBag.Title = "SponsorsAndLinks";
    ViewBag.PageClass = "sponsors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head { }

<h2>Sponsors & Links</h2>

<h3>Sponsors</h3>
<p>
  Coming soon...
</p>

<h3>Links</h3>
<ul>
  <li>
    <a target="_blank" href="#">Kokapelli Dog and Puppy Training</a>
  </li>
  <li>
    <a target="_blank" href="#">PetSmart</a>
  </li>
  <li>
    <a target="_blank" href="#">Grooming Salon</a>
  </li>
  <li>
    <a target="_blank" href="#">Pet Club</a>
  </li>
</ul>
